.ropeproject/
LibThese.egg-info/
build/
dist/
doc/build/
Divers/*
__pycache__
LibThese/Gadget/Gadget.c
LibThese/Gadget/Types.c
LibThese/Generation/Generation.c
LibThese/Generation/King.c
LibThese/Tree/Tree.c
